/*PHONE(Default) stylesheet__________________________*/
@media only screen and (min-width: 1px){

	*{
		font-family: Courier, arial;
		color: rgba(255,255,255,255);
		font-size: 3;
		padding: 0;
		margin: 0;
	}
	body{
		background-color: rgba(40,40,40,255);
	}
	header{
		padding: 10vh 10VW 10px 10vw;   /* N E S W */
	}
	main{
		padding: 10px 30vw 10px 10vw;   /* N E S W */
	}
	.box_grey{
		background-color: rgba(40,40,40,255);
		padding: 10px;
		border-radius: 15px;
	}


	h1, p{
		margin: 0 0 25px 0;
	}
	.row{
		display: flex;
		flex-direction: row;
	}
	.column{
		display: flex;
		flex-direction: column;
	}

	.profile{
		width: 250px;  /* Set the desired width */
		height: 250px; /* Set the desired height */
		border-radius: 50%;
	}
	.center{
		padding: auto;
	}

	/* ============================================ */
	a{
		text-decoration: underline;
	}
	hr{
		margin: 50px 0;
	}
	/* ============================================ */
	.details{
		height: 250px;
		padding: 0 0 0 80px;
		justify-content: center; /* vertically center */
	}
}

/*PC stylesheet______________________________________*/
@media only screen and (min-width: 1000px){

}