/*PHONE(Default) stylesheet__________________________*/
@media only screen and (min-width: 1px){

	*{
		font-family: Courier, arial;
		color: rgba(255,255,255,255);
		font-size: 3;
		padding: 0;
		margin: 0;
	}
	body{
		background-color: rgba(40,40,40,255);
		background-image: url('../REFERENCES/marble.jpeg');
	}
	header{
		padding: 10px 10VW 10px 10vw;   /* N E S W */
	}
	main{
		padding: 10px;
	}

	/* ============================================ */
	::-webkit-scrollbar {
		width: 5px;
	}
	::-webkit-scrollbar-thumb {
		background: rgba(40,40,40,255);
	}
	
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	
	::-webkit-scrollbar-track {
		background: rgba(0,0,0,255);
	}
	
	/* ============================================ */

	.box{
		background-color: rgba(30,30,30,255);
		border-radius: 15px;
		margin: 30px;
	}

	.dark_grey{
		padding: 40px;
	}
	.mid_grey{
		padding: 20px;
	}

	/* ============================================ */

	.padding{
		background-color: rgba(40,40,40,0);
		padding: 20px;
		height: 100px;
	}

	.override_center{
		display: block;
		text-align: center;
	}

	.row{
		display: flex;
		flex-direction: column;
	}
	.column{
		display: flex;
		flex-direction: column;
	}

	.profile{
		width: 250px;  /* Set the desired width */
		height: 250px; /* Set the desired height */
		border-radius: 50%;
	}
	.center{
		padding: auto;
	}

	/* ============================================ */
	a{
		text-decoration: underline;
	}
	hr{
		margin: 50px 0;
	}
	h1, p{
		margin: 0 0 25px 0;
	}
	p{
		margin-left: 20px;
	}
	/* ============================================ */
}

/*PC stylesheet______________________________________*/
@media only screen and (min-width: 675px){
	.row{
		display: flex;
		flex-direction: row;
	}
	.details{
		height: 250px;
		padding: 0 0 0 80px;
		justify-content: center; /* vertically center */
	}
}
/*PC stylesheet______________________________________*/
@media only screen and (min-width: 1000px){
	.row{
		display: flex;
		flex-direction: row;
	}
	main{
		padding: 0 20vw;
	}
}